<!DOCTYPE html>
<html>
<head>
<script src="/public/javascripts/jquery-1.10.2.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/javascripts/index.js"></script>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/index.css">
<meta charset="utf-8" />
<title>Node World</title>
</head>
<body>
<div id="content">
  <div id="menu">
    <span id="viewChanger" onclick="toggleView()">Multiple View</span>
    <!-- <span title="Scale Font Size."><span>+</span> / <span>-</span></span> -->
  </div>
  <div id="outputs">
    <!-- Chat -->
    <div id="output1"></div>
    <!-- System Events & Errors -->
    <div id="output2"></div>
    <!-- Player Events (look, examine) -->
    <div id="output3"></div>
    <!-- Map -->
    <div id="output4"></div>
  </div>
  <div id="input">
    <form action="/" id="inputForm" method="POST">
      <input autofocus placeholder="Connecting to server, please wait..." type="text" 
            id="inputBox" onkeydown="commandHistory(event)" />
      <input type="submit" value="SEND" id="sendButton">
    </form>
  </div>
</div>
</body>
</html>