html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

div {
  resize: none;
}

#content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: table;
}

/* MENU */
#outerMenu {
  width: 100%;
  display: table-row;
}

#innerMenu {
  width: 100%;
  text-align: center;
  display: table-cell;
}

#innerMenu > span {
  border-bottom: solid;
  text-align: center;
  cursor: pointer;
}

/* OUTPUT */
#outerOutputs {
  width: 100%;
  height: 100%;
  display: table-row;
  vertical-align: middle;
}

#innerOutputs {
  width: 100%;
  height: 100%;
  position: relative;
  display: table-cell;
}

/* Output Views */
#innerOutputs > div {
  display: none;            /* Hide all outputs, and show only outerOutput1, by default. */
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  position: absolute;
}

#innerOutputs > div > div {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  word-wrap: normal;
  word-break: break-word;
}

/* Display #outerOutput1 by default. */
#innerOutputs > #outerOutput1 {
  display: block;
}

/* INPUT */
#outerInput {
  width: 100%;
  display: table-row;
}

#innerInput {
  width: 100%;
  display: table-cell;
  display: table;
}

#inputForm {
  width: 100%;
  display: table-row;
}

#inputBoxContainer {
  display: table-cell;
  width: 100%;
}

#inputBox {
  width: 100%;
}

#sendButton {
  
}

/* Text Classes */
.b {
  font-weight: bold;
}
.i {
  font-style: italic;
}
.u {
  text-decoration: underline;
}
.s {
  text-decoration: line-through;    /* Commonly known as Strike-through. */
}

.object {
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
}

a {
  color: #00B7FF;
}

.a {
  color: #00B7FF;
}

#cmdChar {
  border-bottom: 1px dashed black;
}

.player {
  text-decoration: underline;
  cursor: pointer;
}

.target {
  text-decoration: underline;
  cursor: pointer;
}

.command {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}