html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

div {
  resize: none;
}

#content {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

/* MENU */
#menu {
  width: 100%;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 0.5em;
}

#menu > span {
  border-bottom: 1px solid black;
  text-align: center;
  cursor: pointer;
}

/* OUTPUT */
#outputs {
  width: 100%;
  height: 90%;
  position: relative;
  overflow: hidden;
  margin: 0px;
}

#outputs > div {
  width: 100%;
  height: 100%;
  border: 1px solid #cccccc;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow-y: scroll;
  word-wrap: normal;
  word-break: break-word;
  line-height: 1.5em;
}

/* INPUT */
#input {
  width: 100%;
}

#inputBox {
  width: 90%;
}

#sendButton {
  /* EMPTY */
}

/* Text Classes */
.b {
  font-weight: bold;
}
.i {
  font-style: italic;
}
.u {
  text-decoration: underline;
}
.s {
  text-decoration: line-through;    /* Commonly known as Strike-through. */
}

.restoredMessage {
  display: block;
}

a         { color: #0B4861; }   /* Default. */
a:link    { color: #0B4861; }
a:visited { color: #053341; }
a:hover   { color: #0B6699; }
a:active  { color: #0B88CC; }

#cmdChar {
  vertical-align: middle;
  display: inline-table;
}

.object {
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
}

.player {
  text-decoration: underline;
  cursor: pointer;
}

.target {
  text-decoration: underline;
  cursor: pointer;
}

.command {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}